.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-lastname , #input-email , #input-name , #house {
  width: 50%;
}

.nameFullname {
  display: flex;
}

#family {
  display: flex;
  flex-direction: column;
}
